:root {
  --color-black: #222;
  --color-white: #fafafa;
  --color-primary-background: linear-gradient(to right, #d9a7c7, #fffcdc);
  --color-h2-background: #3498db;
  --color-h2-font: #fafafa;
  --color-list-background: #ecf0f1;
  --color-list-background2: #bdc3c7;
  --color-list-hover: #f1c40f;
  --color-list-done: #2ecc71;
  --font-size-i: 3rem;
  --font-size-li: 2rem;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 2rem;
}
header h1 {
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}
header a {
  color: var(--color-white);
}
header a i {
  font-size: 4rem;
}
/* MAIN */

/* FOOTER */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
}
footer p {
  font-size: 1.2rem;
}

/* ANIM */